@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proximanova-regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeue.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaLight';
  src: url("../fonts/HelveticaNeue-Light.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/HelveticaNeue-Bold.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaItalic';
  src: url("../fonts/HelveticaNeue-Italic.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaMedium';
  src: url("../fonts/HelveticaNeue-Medium.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-9j7baf");
  src: url("../fonts/icomoon.eot?#iefix-9j7baf") format("embedded-opentype"), url("../fonts/icomoon.woff?-9j7baf") format("woff"), url("../fonts/icomoon.ttf?-9j7baf") format("truetype"), url("../fonts/icomoon.svg?-9j7baf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-google-plus:before {
  content: "\ea88"; }

.icon-facebook:before {
  content: "\ea8c"; }

.icon-twitter:before {
  content: "\ea91"; }

.icon-linkedin2:before {
  content: "\eac9"; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

input,
select {
  outline: none; }

img {
  max-width: 100%; }

/*
    Example usage:
    @include animation(10s, 5s, changecolour)

    div {
	    animation-name: example;
	    animation-duration: 5s;
	    animation-timing-function: linear;
	    animation-delay: 2s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	}

 */
.i1, .i3, .i6, .i8, .i7, .i10, .i11, .i12, .i13,
.i4, .i9, .i2, .i5, .i-arrow, .ico-linkedin, .ico-flag {
  display: inline-block;
  background: url("../img/icons-opt.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  padding-right: 20px;
  vertical-align: middle; }

.i1 {
  background-position: -20px -0px;
  width: 52px;
  height: 40px; }

.i3 {
  background-position: -20px -60px;
  width: 37px;
  height: 27px; }

.i6 {
  background-position: -20px -107px;
  width: 37px;
  height: 35px; }

.i8 {
  background-position: -20px -162px;
  width: 37px;
  height: 37px; }

.i7 {
  background-position: -20px -219px;
  width: 35px;
  height: 34px; }

.i4 {
  background-position: -20px -273px;
  width: 30px;
  height: 31px; }

.i9 {
  background-position: -20px -324px;
  width: 29px;
  height: 36px; }

.i2 {
  background-position: -20px -380px;
  width: 27px;
  height: 38px; }

.i5 {
  background-position: -20px -438px;
  width: 25px;
  height: 34px; }

.i-arrow {
  background-position: -24px -517px;
  width: 18px;
  height: 17px; }

.ico-linkedin {
  background-position: -19px -567px;
  width: 36px;
  height: 36px; }

.i10 {
  background-position: -23px -631px;
  width: 35px;
  height: 43px; }

.i11 {
  background-position: -24px -719px;
  width: 34px;
  height: 31px; }

.i12 {
  background-position: -26px -813px;
  width: 36px;
  height: 30px; }

.i13 {
  background-position: -22px -892px;
  width: 45px;
  height: 58px; }

.ico-flag {
  background-position: -20px -1026px;
  width: 27px;
  height: 24px;
  padding: 0 10px; }

.btn {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'HelveticaLight', Arial, sans-serif;
  font-size: 16px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .btn {
      font-size: 13px;
      width: 170px;
      height: 50px;
      line-height: 50px; } }

.btn-icon {
  position: relative;
  display: block;
  width: 230px;
  height: 100px;
  margin-left: 100px;
  line-height: 100px;
  text-align: center;
  color: #000;
  background: #fff;
  font-size: 24px;
  font-family: 'Helvetica', Arial, sans-serif; }
  .btn-icon:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background: #f0602b;
    left: -100px;
    top: 0;
    box-shadow: 2px 5px 3px -2px rgba(0, 0, 0, 0.2); }

.btn-readmore:before {
  background: #f0602b url("../img/icons.png") no-repeat 7px 25px; }

.btn-contact:before {
  background: #f0602b url("../img/icons.png") no-repeat 3px -55px; }
.btn-contact.loading:before {
  background: #f0602b url("../css/img/loader.gif") no-repeat center; }

.btn-coral {
  background: #f27f62;
  background: -moz-linear-gradient(0deg, #f27f62 30%, #d56b51 100%);
  background: -webkit-linear-gradient(0deg, #f27f62 30%, #d56b51 100%);
  background: -o-linear-gradient(0deg, #f27f62 30%, #d56b51 100%);
  background: -ms-linear-gradient(0deg, #f27f62 30%, #d56b51 100%);
  background: linear-gradient(90deg, #f27f62 30%, #d56b51 100%);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }
  .btn-coral:hover {
    background: #f27f62;
    background: -moz-linear-gradient(0deg, #f27f62 30%, #d56b51 100%);
    background: -webkit-linear-gradient(0deg, #f27f62 30%, #d56b51 100%);
    background: -o-linear-gradient(0deg, #f27f62 30%, #d56b51 100%);
    background: -ms-linear-gradient(0deg, #f27f62 30%, #d56b51 100%);
    background: linear-gradient(90deg, #f27f62 30%, #d56b51 100%); }

.header {
  position: fixed;
  height: 130px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all ease-in-out .5s;
  -webkit-transition: all ease-in-out .5s;
  z-index: 102; }
  @media only screen and (max-width: 767px) {
    .header {
      height: 60px; }
      .header .logo {
        max-width: 150px;
        margin: 10px 0 0 40px; }
      .header .header-navigation {
        display: none;
        margin-top: 61px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        background: #fff; }
        .header .header-navigation li {
          float: none;
          padding: 0; }
        .header .header-navigation a {
          line-height: 50px !important;
          padding: 0 35px; }
      .header #header-menu {
        display: block;
        top: 5px; } }
  .header.fullcolor {
    transform: translateZ(0);
    background-color: white;
    height: 90px;
    box-shadow: 0 4px 7px -2px rgba(0, 0, 0, 0.15); }
    .header.fullcolor .logo {
      margin-top: 15px; }
      .header.fullcolor .logo img {
        max-width: 80%;
        margin-top: 5px; }
    .header.fullcolor .header-navigation a {
      line-height: 90px;
      font-size: 18px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header.fullcolor {
        height: 60px; }
        .header.fullcolor .logo {
          margin-top: 10px; }
        .header.fullcolor .header-navigation a {
          line-height: 65px; } }
    @media only screen and (max-width: 767px) {
      .header.fullcolor {
        height: 60px; }
        .header.fullcolor .logo {
          margin-top: 10px; } }
  .header.nofixed {
    position: absolute;
    top: 0;
    left: 0; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
      height: 60px; }
      .header .logo {
        margin: 10px 0 0 0; }
        .header .logo img {
          max-width: 150px; }
      .header .header-navigation {
        margin-right: 20px; }
        .header .header-navigation a {
          line-height: 65px;
          font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    .header .logo {
      margin-left: 0; } }

#header-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 10px 20px;
  background: url("../img/icons.png") no-repeat -14px -360px; }

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99; }

.logo {
  margin-top: 30px;
  float: left;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }
  .logo img {
    transition: all .3s ease;
    -webkit-transition: all .3s ease; }

.jumbo-hp {
  position: relative;
  height: 100%;
  max-height: 710px;
  background: #fff;
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .jumbo-hp {
      height: 800px;
      max-height: 800px; } }
  .jumbo-hp h2, .jumbo-hp h3 {
    display: block;
    width: 40%;
    max-width: 550px;
    color: #2a3642;
    font-family: 'Helvetica', Arial, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .jumbo-hp h2, .jumbo-hp h3 {
        width: 50%; } }
    @media only screen and (max-width: 767px) {
      .jumbo-hp h2, .jumbo-hp h3 {
        width: 100%; } }
  .jumbo-hp h2 {
    padding-top: 210px;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700; }
    @media only screen and (max-width: 1024px) {
      .jumbo-hp h2 {
        padding-top: 120px;
        line-height: 40px;
        font-size: 29px; } }
  .jumbo-hp h3 {
    max-width: 430px;
    width: 45%;
    margin: 80px 0 65px;
    font-size: 21px;
    line-height: 27px;
    color: #6a6f75;
    font-family: 'Proxima', Arial, sans-serif; }
    @media only screen and (max-width: 1024px) {
      .jumbo-hp h3 {
        font-size: 15px;
        margin-top: 50px; } }
    @media only screen and (max-width: 767px) {
      .jumbo-hp h3 {
        width: 100%; } }
  .jumbo-hp > .wrapper {
    position: static; }
  @media only screen and (max-width: 767px) {
    .jumbo-hp .wrapper {
      width: 95%; } }
  .jumbo-hp .btn-wrapper {
    display: inline-block; }

.header-navigation {
  float: right; }
  @media only screen and (max-width: 767px) {
    .header-navigation {
      position: absolute;
      right: -20px; } }
  .header-navigation li {
    float: left;
    padding: 0 15px; }
  .header-navigation .active a {
    color: #eda67c; }
  .header-navigation a {
    display: block;
    color: #666b71;
    font-size: 18px;
    font-family: 'Proxima', Arial, sans-serif;
    line-height: 130px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out; }
    .header-navigation a:hover {
      color: #eda67c; }

.hero-image {
  position: absolute;
  right: -100px;
  bottom: 0; }

.careers .jumbo-hp {
  background-color: #f7f6f2; }

body {
  -webkit-font-smoothing: antialiased; }
  body.menu-open {
    height: 100%;
    overflow: hidden; }

.wrapper {
  position: relative;
  width: 90%;
  max-width: 1240px;
  margin: 0 auto; }
  @media only screen and (max-width: 767px) {
    .wrapper {
      width: 80%; } }
  @media only screen and (max-width: 520px) {
    .wrapper {
      width: 85%; } }

.hide {
  display: none; }

.show {
  display: block; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.mid-container {
  height: 600px;
  background: #fff;
  padding-top: 150px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mid-container {
      height: 440px;
      padding-top: 0; } }
  @media only screen and (max-width: 767px) {
    .mid-container {
      height: auto;
      padding-top: 60px; } }
  @media only screen and (max-width: 767px) {
    .mid-container .wrapper {
      display: block; } }
  .mid-container h3 {
    color: #293744;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 50px;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: 700; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .mid-container h3 {
        font-size: 27px;
        line-height: 45px; } }
    @media only screen and (max-width: 480px) {
      .mid-container h3 {
        font-size: 29px;
        line-height: 40px; } }

.mid-container-l {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mid-container-l {
      width: 45%;
      float: left;
      padding-top: 50px; } }
  @media only screen and (max-width: 767px) {
    .mid-container-l {
      width: 100%;
      display: table-footer-group; } }
  .mid-container-l img {
    display: none;
    max-width: 560px;
    margin-top: -30px;
    width: 100%;
    height: auto; }
    .mid-container-l img.active {
      display: block; }

.homepage .jumbo-hp {
  background: url("../img/hero-desktop.png") no-repeat top 140px right -100px;
  background-size: 55%;
  height: 770px; }
  .homepage .jumbo-hp:before {
    content: '';
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    background: -moz-linear-gradient(0deg, white 58%, #f6f2ef 100%);
    background: -webkit-linear-gradient(0deg, white 58%, #f6f2ef 100%);
    background: -o-linear-gradient(0deg, white 58%, #f6f2ef 100%);
    background: -ms-linear-gradient(0deg, white 58%, #f6f2ef 100%);
    background: linear-gradient(90deg, white 58%, #f6f2ef 100%);
    z-index: -1; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .homepage .jumbo-hp:before {
        top: 60px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .homepage .jumbo-hp {
      background-size: 60%;
      height: 550px; } }
  @media only screen and (max-width: 767px) {
    .homepage .jumbo-hp {
      background-position: bottom center; } }
  @media only screen and (max-width: 520px) {
    .homepage .jumbo-hp {
      background-size: 95%;
      height: 770px;
      max-height: 770px; } }
  .homepage .jumbo-hp .btn {
    margin-bottom: 180px; }
  .homepage .jumbo-hp .jumbo-block h2 {
    font-weight: 700; }
  .homepage .jumbo-hp .jumbo-block .to-anim-1, .homepage .jumbo-hp .jumbo-block .to-anim-2, .homepage .jumbo-hp .jumbo-block .to-anim-3 {
    opacity: 0; }
    @media only screen and (max-width: 1024px) {
      .homepage .jumbo-hp .jumbo-block .to-anim-1, .homepage .jumbo-hp .jumbo-block .to-anim-2, .homepage .jumbo-hp .jumbo-block .to-anim-3 {
        opacity: 1; } }

.tab-heading {
  font-size: 0;
  position: relative;
  padding: 0;
  width: 480px;
  user-select: none;
  margin: 25px 0 55px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .tab-heading {
      margin: 10px 0 40px; } }
  @media only screen and (max-width: 480px) {
    .tab-heading {
      width: 100%; } }
  .tab-heading li {
    display: inline-block;
    width: 160px;
    height: 60px;
    font-size: 16px;
    text-align: left;
    line-height: 60px;
    color: #989EA3;
    border-bottom: 1px solid #e9e9e9;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-family: 'HelveticaMedium', Arial, sans-serif;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .tab-heading li {
        height: 55px;
        line-height: 55px;
        font-size: 11px;
        width: 100px; } }
    @media only screen and (max-width: 480px) {
      .tab-heading li {
        width: 33%;
        font-size: 11px; } }
    .tab-heading li.active {
      color: #2B3541; }
  .tab-heading .slider {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110px;
    height: 2px;
    background: #d66b59;
    transition: all 0.5s ease-in-out; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .tab-heading .slider {
        width: 80px; } }
    @media only screen and (max-width: 480px) {
      .tab-heading .slider {
        width: 82px; } }

.tab-content p {
  line-height: 30px;
  margin-bottom: 20px;
  font-family: 'Proxima', Arial, sans-serif;
  font-size: 16px;
  color: #656774; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .tab-content p {
      line-height: 25px;
      font-size: 14px;
      margin-bottom: 5px; } }
  @media only screen and (max-width: 480px) {
    .tab-content p {
      line-height: 25px;
      font-size: 15px; } }

.mid-container-r {
  display: inline-block;
  vertical-align: top;
  width: 44%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mid-container-r {
      float: right;
      margin-right: 50px;
      overflow: hidden; } }
  @media only screen and (max-width: 767px) {
    .mid-container-r {
      display: table-header-group;
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .mid-container-r h3 {
      display: block;
      width: 90%; } }

.easy-container {
  position: relative;
  height: 775px;
  background: url("../img/video-background.jpg") no-repeat top left;
  text-align: center;
  color: #fff;
  overflow: hidden; }
  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .easy-container {
      background-attachment: fixed;
      background-size: cover; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .easy-container {
      height: 615px; } }
  @media only screen and (max-width: 767px) {
    .easy-container {
      height: 675px; } }
  @media only screen and (max-width: 480px) {
    .easy-container {
      height: 590px; } }
  .easy-container video {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -414px; }
    @media only screen and (max-width: 767px) {
      .easy-container video {
        display: none;
        width: 600px !important;
        bottom: -55px;
        margin-left: -300px; } }
    @media screen and (max-width: 620px) {
      .easy-container video {
        width: 500px !important;
        bottom: -80px;
        margin-left: -250px; } }
    @media only screen and (max-width: 480px) {
      .easy-container video {
        width: 320px !important;
        bottom: -130px;
        margin-left: -160px; } }
  .easy-container .wrapper {
    height: 100%; }
  .easy-container h2 {
    padding-top: 70px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: 'Helvetica', Arial, sans-serif;
    letter-spacing: 1px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .easy-container h2 {
        padding-top: 50px;
        font-size: 27px;
        margin-bottom: 5px; } }
    @media only screen and (max-width: 767px) {
      .easy-container h2 {
        width: 60%;
        text-align: left;
        line-height: 50px; } }
    @media only screen and (max-width: 520px) {
      .easy-container h2 {
        width: 100%; } }
  .easy-container p {
    display: block;
    width: 680px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 35px;
    font-family: 'Proxima', Arial, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .easy-container p {
        width: 80%;
        font-size: 14px;
        line-height: 25px; } }
    @media only screen and (max-width: 767px) {
      .easy-container p {
        width: 100%;
        line-height: 30px;
        text-align: left; } }
    @media only screen and (max-width: 480px) {
      .easy-container p {
        line-height: 25px; } }
  .easy-container img {
    display: block;
    position: absolute;
    bottom: -60px;
    width: 853px;
    left: 50%;
    margin-left: -430px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .easy-container img {
        width: 850px;
        margin-left: -428px; } }
    @media screen and (max-width: 768px) {
      .easy-container img {
        width: 800px;
        margin-left: -400px;
        max-width: none;
        bottom: -30px; } }
    @media only screen and (max-width: 767px) {
      .easy-container img {
        width: 540px;
        margin-left: -270px; } }
    @media only screen and (max-width: 520px) {
      .easy-container img {
        width: 300px;
        margin-left: -150px; } }
    @media only screen and (max-width: 480px) {
      .easy-container img {
        width: 350px;
        margin-left: -170px; } }

.features-container {
  text-align: center;
  background: #f9f9f9; }
  .features-container h2 {
    padding-top: 100px;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #2c3844;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: 700; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .features-container h2 {
        padding-top: 120px;
        font-size: 23px; } }
    @media only screen and (max-width: 767px) {
      .features-container h2 {
        font-size: 27px;
        text-align: left; } }
  .features-container span {
    vertical-align: middle; }
  .features-container .wrapper > p {
    display: block;
    width: 680px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 35px;
    color: #626b74;
    font-family: 'Proxima', Arial, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .features-container .wrapper > p {
        font-size: 14px;
        line-height: 28px; } }
    @media only screen and (max-width: 767px) {
      .features-container .wrapper > p {
        width: 100%;
        text-align: left; } }
  .features-container ul {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    margin-top: 120px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .features-container ul {
        width: 85%; } }
    @media only screen and (max-width: 767px) {
      .features-container ul {
        margin-top: 50px;
        width: 100%; } }
    .features-container ul h3 {
      font-size: 25px;
      line-height: 40px;
      font-family: 'Proxima', Arial, sans-serif; }
      @media only screen and (max-width: 520px) {
        .features-container ul h3 {
          text-align: left;
          font-size: 20px; } }
    .features-container ul p {
      margin-top: 20px;
      line-height: 30px;
      font-family: 'Proxima', Arial, sans-serif;
      color: #656774; }
      @media only screen and (max-width: 520px) {
        .features-container ul p {
          margin-bottom: 20px; } }
    .features-container ul li {
      display: inline-block;
      vertical-align: top;
      width: 31.5%;
      margin-right: 2%;
      height: 250px; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .features-container ul li {
          width: 48.5%;
          margin-right: 1%; } }
      @media only screen and (max-width: 767px) {
        .features-container ul li {
          width: 100%;
          height: auto;
          min-height: 200px; } }
      .features-container ul li.no-mr {
        margin-right: 0; }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .features-container ul li.no-mr {
            margin-right: 1%; } }

.revenue-container {
  height: 700px;
  padding-top: 170px;
  box-sizing: border-box;
  text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .revenue-container {
      padding-top: 0;
      height: 820px; } }
  @media only screen and (max-width: 767px) {
    .revenue-container {
      height: 800px;
      padding-top: 50px; } }
  @media only screen and (max-width: 520px) {
    .revenue-container {
      height: 1050px; } }

.revenue-l {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-left: 100px;
  box-sizing: border-box; }
  @media only screen and (max-width: 1024px) {
    .revenue-l {
      width: 100%;
      padding-left: 0;
      text-align: center; } }
  .revenue-l h3 {
    display: block;
    padding-top: 15px;
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
    font-family: 'Helvetica', Arial, sans-serif;
    width: 440px;
    text-transform: uppercase;
    text-align: left; }
    @media only screen and (max-width: 1024px) {
      .revenue-l h3 {
        font-size: 24px;
        width: 100%;
        padding-left: 0;
        text-align: center; } }
    @media only screen and (max-width: 520px) {
      .revenue-l h3 {
        font-size: 22px;
        line-height: 35px;
        text-align: left;
        padding-left: 20px;
        width: 90%; } }
  .revenue-l p {
    margin: 30px 0 30px;
    color: #757e85;
    font-size: 21px;
    font-family: 'Proxima', Arial, sans-serif;
    text-align: left; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .revenue-l p {
        font-size: 14px;
        text-align: center; } }
    @media only screen and (max-width: 767px) {
      .revenue-l p {
        text-align: center; } }
    @media only screen and (max-width: 520px) {
      .revenue-l p {
        font-size: 19px;
        text-align: left;
        padding-left: 20px; } }

.revenue-r {
  display: inline-block;
  width: 48%;
  vertical-align: top; }
  @media only screen and (max-width: 1024px) {
    .revenue-r {
      width: 70%; } }
  @media only screen and (max-width: 520px) {
    .revenue-r {
      width: 90%; } }
  .revenue-r a {
    display: block;
    text-align: center;
    margin-top: 35px;
    font-size: 13px;
    color: #9d9d9f; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .revenue-r a {
        margin-top: -85px; } }

.increase-block {
  height: 390px;
  padding: 65px 60px;
  width: 100%;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .increase-block {
      box-shadow: none;
      border: none; } }
  @media only screen and (max-width: 767px) {
    .increase-block {
      height: 280px;
      padding: 30px; } }
  @media only screen and (max-width: 520px) {
    .increase-block {
      height: auto; } }

.increase-left,
.increase-right {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  background: #f6f6f8; }
  @media only screen and (max-width: 520px) {
    .increase-left,
    .increase-right {
      width: 100%; } }

.increase-left {
  float: left;
  padding: 50px 15px 0;
  box-sizing: border-box; }
  @media only screen and (max-width: 767px) {
    .increase-left {
      padding-left: 20px; } }
  @media only screen and (max-width: 520px) {
    .increase-left {
      float: none; } }

.increase-right {
  float: right;
  padding: 50px 13px 0 30px;
  box-sizing: border-box; }
  @media only screen and (max-width: 767px) {
    .increase-right {
      padding-left: 20px; } }
  @media only screen and (max-width: 520px) {
    .increase-right {
      float: none;
      margin-top: 30px; } }

.text-big {
  font-size: 35px; }

.increase-sub-top {
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f4; }
  @media only screen and (max-width: 767px) {
    .increase-sub-top {
      padding-bottom: 0; } }
  .increase-sub-top .text-big {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 45px;
    font-family: 'HelveticaBold', Arial, sans-serif;
    color: #2B3541; }
  .increase-sub-top span + span {
    display: inline-block;
    width: 90px;
    vertical-align: middle;
    text-align: left;
    color: #555E67; }

.increase-sub-bottom {
  padding: 30px 15px 30px 0;
  text-align: center; }
  .increase-sub-bottom .text-big {
    font-size: 32px;
    vertical-align: middle;
    color: #7ec042;
    font-family: 'HelveticaBold', Arial, sans-serif;
    transition: color .5s ease;
    -webkit-transition: color .5s ease; }
    .increase-sub-bottom .text-big.green {
      color: #7ec042; }
  .increase-sub-bottom i {
    padding-right: 5px; }

.team-container {
  height: 280px;
  background: url("../img/background-team.jpg") no-repeat top center;
  text-align: center;
  color: #fff; }
  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .team-container {
      background-size: cover;
      background-attachment: fixed; } }
  .team-container h2 {
    padding-top: 90px;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: 'HelveticaLight', Arial, sans-serif;
    letter-spacing: 1px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .team-container h2 {
        padding-top: 70px;
        font-size: 27px;
        margin-bottom: 30px; } }
    @media only screen and (max-width: 767px) {
      .team-container h2 {
        padding-top: 50px;
        text-align: left;
        padding-left: 60px;
        margin-bottom: 10px; } }
    @media only screen and (max-width: 520px) {
      .team-container h2 {
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 0;
        font-size: 30px; } }
  .team-container p {
    display: block;
    width: 680px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 35px;
    font-family: 'Proxima', Arial, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .team-container p {
        font-size: 13px; } }
    @media only screen and (max-width: 767px) {
      .team-container p {
        padding-left: 60px;
        margin: 0;
        text-align: left;
        width: 80%; } }
    @media only screen and (max-width: 520px) {
      .team-container p {
        padding: 0;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        line-height: 20px;
        margin-top: 20px; } }

.persons-container {
  padding-top: 80px; }
  .persons-container ul {
    position: relative;
    text-align: center;
    margin-bottom: 70px; }
    .persons-container ul:before {
      content: '';
      display: block;
      width: 100%;
      height: 300px;
      position: absolute;
      left: 0;
      bottom: 95px;
      background: white;
      background: -moz-linear-gradient(90deg, white 48%, #ebecec 100%);
      background: -webkit-linear-gradient(90deg, white 48%, #ebecec 100%);
      background: -o-linear-gradient(90deg, white 48%, #ebecec 100%);
      background: -ms-linear-gradient(90deg, white 48%, #ebecec 100%);
      background: linear-gradient(180deg, white 48%, #ebecec 100%); }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .persons-container ul:before {
          display: none; } }
      @media only screen and (max-width: 767px) {
        .persons-container ul:before {
          display: none; } }
  .persons-container li {
    display: inline-block;
    width: 400px;
    min-height: 450px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    background: rgba(255, 255, 255, 0); }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .persons-container li {
        max-width: 450px;
        width: 49%; } }
    @media only screen and (max-width: 520px) {
      .persons-container li {
        width: 270px; } }
    .persons-container li:hover {
      background: white;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
      .persons-container li:hover img {
        transform: scale(1.1); }
  .persons-container .name {
    margin: 25px 0 10px;
    font-size: 21px;
    font-family: 'Proxima', Arial, sans-serif;
    color: #d66b4b; }
  .persons-container .position {
    font-family: 'Proxima', Arial, sans-serif; }
  .persons-container img {
    width: 320px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out; }

.footer {
  padding-top: 45px;
  margin-top: 50px;
  border-top: 1px solid #eaeaea; }

.social {
  text-align: center; }
  .social li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    background: #d66b4b;
    vertical-align: middle;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out; }
    .social li:hover {
      transform: scale(1.1); }
  .social a {
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 30px; }
  .social .icon-facebook {
    font-size: 21px;
    text-align: center;
    text-indent: -3px;
    line-height: 26px; }

.copyright {
  text-align: center;
  display: block;
  font-size: 15px;
  margin-top: 25px;
  font-family: 'Helvetica', Arial, sans-serif;
  color: #a5a7a6; }

.footer-links {
  margin: 15px 0 50px;
  text-align: center; }
  .footer-links li {
    display: inline-block;
    vertical-align: middle;
    font-size: 0; }
    .footer-links li + li {
      border-left: 1px solid #a5a7a6; }
  .footer-links a {
    margin: 0 5px;
    padding: 0 0 2px;
    color: #a5a7a6;
    font-size: 16px;
    font-family: 'Helvetica', Arial, sans-serif; }

.team-about .about {
  display: none;
  padding: 0 30px;
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;
  text-align: left; }
  @media only screen and (max-width: 767px) {
    .team-about .about {
      display: block; } }
  @media only screen and (max-width: 520px) {
    .team-about .about {
      padding: 0 10px; } }

.team-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -550px;
  margin-top: -260px;
  width: 1100px;
  height: 520px;
  z-index: 102;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  overflow: auto; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .team-popup {
      width: 700px;
      margin-left: -350px; } }
  .team-popup img {
    position: absolute;
    bottom: 0;
    left: 0; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .team-popup img {
        max-width: 50%; } }
  .team-popup .team-about {
    margin: 120px 0 0 40%; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .team-popup .team-about {
        margin: 60px 0 0 50%; } }
  .team-popup .name {
    font-size: 32px;
    color: #d66b4b;
    margin-bottom: 20px;
    font-family: 'Proxima', Arial, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .team-popup .name {
        font-size: 24px; } }
  .team-popup .position {
    font-size: 19px;
    margin-bottom: 40px;
    font-family: 'Proxima', Arial, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .team-popup .position {
        font-size: 15px;
        margin-bottom: 25px; } }
  .team-popup .description {
    font-size: 20px;
    line-height: 25px;
    padding-right: 100px;
    color: #555e67;
    font-family: 'Proxima', Arial, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .team-popup .description {
        font-size: 15px; } }
  .team-popup .ico-linkedin {
    display: inline-block;
    margin-left: 30px; }

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 101; }

#slider {
  width: 450px;
  height: 35px;
  background: #f6f6f8;
  border: 0;
  margin-top: 140px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    #slider {
      margin: 140px auto 0; } }
  @media only screen and (max-width: 767px) {
    #slider {
      margin: 140px auto 50px; } }
  @media only screen and (max-width: 480px) {
    #slider {
      width: 290px; } }

.slider-tooltip {
  position: absolute;
  z-index: 1020;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: block;
  font-size: 22px;
  visibility: visible;
  margin-top: -2px;
  bottom: 120%;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  color: #75767a !important;
  outline: none; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #d9dadf;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 53px;
  margin-top: -5px;
  width: 60px;
  cursor: pointer; }
  .ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
    border: 1px solid #7ec042; }

.contact-page {
  padding-top: 115px;
  background: #f7f7f7; }
  .contact-page fieldset {
    border: 0; }
  .contact-page input {
    display: block;
    margin-bottom: 15px;
    width: 585px;
    height: 75px;
    padding-left: 50px;
    font-size: 21px;
    font-family: 'HelveticaLight', Arial, sans-serif;
    border: 1px solid #efeff1; }
    .contact-page input:-ms-input-placeholder {
      color: #A9A9A9; }
  .contact-page select {
    display: block;
    width: 100%;
    height: 75px;
    padding-left: 50px;
    margin-bottom: 15px;
    font-size: 21px;
    font-family: 'HelveticaLight', Arial, sans-serif;
    border: 1px solid #efeff1;
    color: #A9A9A9;
    box-sizing: border-box; }
  .contact-page textarea {
    width: 532px;
    padding: 25px 50px 0 50px;
    font-size: 21px;
    font-family: 'HelveticaLight', Arial, sans-serif;
    border: 1px solid #efeff1;
    resize: none; }
    .contact-page textarea:-ms-input-placeholder {
      color: #A9A9A9; }
  .contact-page .btn-icon {
    left: 50%;
    margin: 75px 0 115px -75px;
    border: 0;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2); }

#contactUsForm {
  width: 640px;
  margin: 0 auto; }
  #contactUsForm label.error {
    display: block;
    color: red;
    width: 260px;
    margin: 0 auto 10px;
    text-align: center; }

.contactus-map {
  position: relative;
  height: 800px;
  background: url("../img/contactus-map.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; }
  .contactus-map .contactus-address {
    width: 250px;
    height: 250px;
    background: #7f2676;
    position: absolute;
    border-radius: 50%;
    top: 275px;
    left: 50%;
    color: #fff;
    margin-left: -125px;
    font-family: 'HelveticaLight';
    font-size: 22px; }
  .contactus-map .contact-top {
    width: 140px;
    margin: 45px auto 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    text-align: center; }
  .contactus-map .contact-bottom {
    width: 140px;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center; }

#successPopup {
  display: none;
  position: fixed;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  top: 200px;
  background: #fff;
  border-radius: 5px;
  padding: 40px 20px;
  font-family: 'Helvetica';
  font-size: 20px;
  text-align: center;
  z-index: 100; }

.news-pagination a {
  color: #646968;
  font-family: 'Helvetica', Arial, sans-serif;
  line-height: 25px; }

.next-post {
  float: right; }

.wp-user-avatar {
  display: inline-block;
  max-width: 40px;
  margin-right: 5px;
  border-radius: 50%;
  vertical-align: middle; }

.careers .jumbo-hp {
  background: url("../img/hero-careers.png") no-repeat bottom right 150px;
  height: 650px; }
  .careers .jumbo-hp:before {
    content: '';
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    background: -moz-linear-gradient(0deg, white 58%, #f6f2ef 100%);
    background: -webkit-linear-gradient(0deg, white 58%, #f6f2ef 100%);
    background: -o-linear-gradient(0deg, white 58%, #f6f2ef 100%);
    background: -ms-linear-gradient(0deg, white 58%, #f6f2ef 100%);
    background: linear-gradient(90deg, white 58%, #f6f2ef 100%);
    z-index: -1; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .careers .jumbo-hp:before {
        top: 60px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .careers .jumbo-hp {
      background-size: 35%;
      background-position: bottom right 100px;
      height: 500px; } }
  @media only screen and (max-width: 767px) {
    .careers .jumbo-hp {
      background-position: bottom right;
      background-size: 40%; } }
  @media only screen and (max-width: 480px) {
    .careers .jumbo-hp {
      height: 750px;
      background-position: bottom center;
      background-size: 55%; } }
.careers .job-details {
  display: none; }
  @media only screen and (max-width: 767px) {
    .careers .job-details {
      display: block; } }
.careers .job-description {
  display: block; }
  @media only screen and (max-width: 767px) {
    .careers .job-description {
      display: none; } }
.careers .tabs {
  width: 850px;
  margin-bottom: 150px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .careers .tabs {
      width: 700px;
      margin-top: 60px; } }
  @media only screen and (max-width: 767px) {
    .careers .tabs {
      width: 440px; } }
  @media only screen and (max-width: 480px) {
    .careers .tabs {
      width: 300px; } }
.careers .tab-heading {
  width: 100%;
  border-bottom: 1px solid #e9e9e9; }
  .careers .tab-heading li {
    width: 220px;
    border: none; }
    @media only screen and (max-width: 480px) {
      .careers .tab-heading li.tab-1, .careers .tab-heading li.tab-2, .careers .tab-heading li.tab-3 {
        height: 40px;
        display: table-cell;
        vertical-align: middle; } }
    @media only screen and (max-width: 767px) {
      .careers .tab-heading li {
        width: 140px;
        font-size: 11px; } }
    @media only screen and (max-width: 480px) {
      .careers .tab-heading li {
        width: 100px;
        line-height: 15px; } }
  .careers .tab-heading .slider {
    width: 150px; }
    @media only screen and (max-width: 767px) {
      .careers .tab-heading .slider {
        width: 120px; } }
    @media only screen and (max-width: 480px) {
      .careers .tab-heading .slider {
        width: 90px; } }
.careers .tab-container + .tab-container {
  margin-top: 55px; }
.careers .tab-container h4 {
  margin-bottom: 30px;
  font-size: 19px; }
.careers .tab-container p {
  font-size: 16px; }
.careers .tab-container a {
  font-size: 17px;
  color: #f0602b; }
  @media only screen and (max-width: 767px) {
    .careers .tab-container a {
      display: none; } }

@media only screen and (max-width: 767px) {
  .careers-container .wrapper {
    width: 95%; } }

.careers-popup {
  padding: 30px;
  box-sizing: border-box;
  line-height: 25px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .careers-popup {
      margin-top: -230px; } }

.contact .jumbo-hp {
  height: 650px;
  background: url("../img/hero-contact.png") no-repeat bottom right; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contact .jumbo-hp {
      height: 520px;
      background-size: 50%; } }
  @media only screen and (max-width: 767px) {
    .contact .jumbo-hp {
      height: 750px;
      background-size: 50%;
      background-position: bottom center; } }
  @media only screen and (max-width: 480px) {
    .contact .jumbo-hp {
      background-size: 75%; } }
.contact .footer {
  margin-top: 0;
  border-top: 0; }

.contact-list {
  margin: 110px 0; }
  @media only screen and (max-width: 767px) {
    .contact-list {
      margin: 50px 0; } }
  .contact-list h3 {
    font-size: 22px;
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .contact-list h3 {
        font-size: 18px; } }
    @media only screen and (max-width: 767px) {
      .contact-list h3 {
        font-size: 21px; } }
    @media only screen and (max-width: 480px) {
      .contact-list h3 {
        font-size: 18px; } }
    .contact-list h3 span {
      display: inline-block;
      vertical-align: middle; }
  .contact-list > li {
    display: inline-block;
    width: 31%;
    box-sizing: border-box;
    vertical-align: top; }
    .contact-list > li + li {
      padding-left: 6%; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .contact-list > li {
        width: 32%;
        padding-left: 3%; } }
    @media only screen and (max-width: 767px) {
      .contact-list > li {
        display: block;
        width: 100%;
        margin-bottom: 50px;
        padding-left: 3%; } }
    .contact-list > li > a {
      display: block;
      margin-top: 38px;
      color: #2b3541;
      font-size: 29px; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .contact-list > li > a {
          font-size: 22px; } }
      @media only screen and (max-width: 767px) {
        .contact-list > li > a {
          margin-top: 10px;
          font-size: 25px; } }
      @media only screen and (max-width: 480px) {
        .contact-list > li > a {
          font-size: 21px; } }
  .contact-list .social {
    text-align: left; }
    .contact-list .social li {
      width: 40px;
      height: 40px;
      text-align: center; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .contact-list .social li {
          width: 35px;
          height: 35px; } }
    .contact-list .social a {
      line-height: 38px; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .contact-list .social a {
          line-height: 34px; } }

.contact-map-container {
  background: #fcfcfc;
  text-align: center;
  padding-top: 110px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contact-map-container {
      padding-top: 0; } }
  .contact-map-container h3 {
    font-size: 31px;
    margin-bottom: 40px; }
    @media only screen and (max-width: 480px) {
      .contact-map-container h3 {
        font-size: 23px; } }
  .contact-map-container > p {
    display: block;
    width: 55%;
    margin: 0 auto 110px;
    font-size: 17px;
    line-height: 30px; }
    @media only screen and (max-width: 480px) {
      .contact-map-container > p {
        width: 95%;
        font-size: 16px;
        line-height: 25px; } }

.contact-map {
  position: relative;
  background: #fcfcfc url("../img/contact-map.png") no-repeat top center;
  width: 1024px;
  height: 725px;
  background-size: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contact-map {
      width: 760px;
      height: 505px; } }
  @media only screen and (max-width: 767px) {
    .contact-map {
      background: #fcfcfc;
      width: 100%;
      height: auto;
      overflow: hidden; } }
  .contact-map .marker {
    position: absolute;
    background: url("../img/icons-opt.png") no-repeat -22px -892px;
    width: 45px;
    height: 58px;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .contact-map .marker {
        display: inline-block;
        background: none;
        position: static;
        width: 49%;
        margin-bottom: 50px;
        min-width: 310px;
        height: auto;
        right: auto;
        left: auto; } }
  .contact-map .marker-1 {
    right: 220px;
    top: 330px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .contact-map .marker-1 {
        right: 150px;
        top: 235px; } }
  .contact-map .marker-2 {
    right: 230px;
    top: 280px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .contact-map .marker-2 {
        right: 170px;
        top: 184px; } }
  .contact-map .marker-3 {
    right: 450px;
    top: 174px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .contact-map .marker-3 {
        right: 330px;
        top: 118px; } }
  .contact-map .marker-4 {
    right: 200px;
    top: 245px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .contact-map .marker-4 {
        right: 140px;
        top: 157px; } }
  .contact-map .marker-5 {
    right: 180px;
    top: 275px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .contact-map .marker-5 {
        right: 120px;
        top: 195px; } }

.marker-content {
  display: none;
  position: absolute;
  left: -370px;
  background: #fff;
  width: 230px;
  margin-left: 50px;
  z-index: 2;
  text-align: left;
  padding: 25px 40px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 767px) {
    .marker-content {
      position: static;
      display: block !important;
      margin: 0 auto; } }
  .marker-content h5 {
    font-size: 21px;
    color: #d66b4b;
    font-weight: 700;
    margin-bottom: 15px; }
  .marker-content p {
    font-size: 18px; }
  .marker-content address {
    margin-top: 30px;
    font-style: normal;
    font-size: 18px; }
    .marker-content address span {
      display: block;
      padding-bottom: 10px;
      font-size: 18px; }
    .marker-content address a {
      display: block;
      margin-bottom: 10px; }
  .marker-content a {
    color: #000; }

@media only screen and (max-width: 767px) {
  .news_list .jumbo-hp {
    height: auto; } }
.news_list .tabs {
  max-width: 600px;
  margin: 0 auto; }
.news_list .tab-heading {
  width: 100%; }
  .news_list .tab-heading li {
    width: 50%;
    padding-bottom: 20px;
    font-size: 20px; }
    @media only screen and (max-width: 767px) {
      .news_list .tab-heading li {
        font-size: 15px; } }
    .news_list .tab-heading li.slider {
      padding-bottom: 0;
      width: 30%; }
      @media only screen and (max-width: 767px) {
        .news_list .tab-heading li.slider {
          width: 50%; } }
.news_list .ico-flag {
  display: inline-block; }
.news_list.news_article .article {
  max-width: 730px;
  margin: 0 auto;
  width: 100%; }
.news_list.news_article .article-title {
  font-size: 38px;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .news_list.news_article .article-title {
      font-size: 30px; } }
.news_list.news_article .article-details {
  text-align: center; }
  .news_list.news_article .article-details > span, .news_list.news_article .article-details i {
    vertical-align: top; }
.news_list.news_article .read-time,
.news_list.news_article .day_post {
  font-size: 24px; }
  @media only screen and (max-width: 767px) {
    .news_list.news_article .read-time,
    .news_list.news_article .day_post {
      font-size: 20px; } }

.news-list-container {
  margin-top: 150px; }
  @media only screen and (max-width: 767px) {
    .news-list-container {
      margin-top: 100px; } }

.article-title {
  font-size: 23px;
  color: #222;
  display: block;
  margin-bottom: 20px; }
  @media only screen and (max-width: 767px) {
    .article-title {
      font-size: 20px; } }

.read-time,
.day_post {
  color: #a3a7aa;
  font-size: 12px; }

.article-preview {
  color: #7a7e81;
  line-height: 30px; }
  .article-preview p {
    display: block;
    width: 90%;
    margin: 0 auto 20px; }

.article {
  margin-bottom: 60px; }
  .article img {
    display: block;
    margin: 20px 0;
    max-width: 100%; }
  .article .read-more {
    display: inline-block;
    margin-top: 15px;
    color: #cd8f80; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes heartbeat {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015); }
  28% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015); }
  70% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes heartbeat {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015); }
  28% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015); }
  70% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes heartbeat {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015); }
  28% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015); }
  70% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes heartbeat {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015); }
  28% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015); }
  70% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
