// Helvetica
@font-face {
	font-family: 'Proxima';
	src:url('../fonts/proximanova-regular.otf');
	font-weight:normal;
	font-style:normal;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/HelveticaNeue.otf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'HelveticaLight';
  src:url('../fonts/HelveticaNeue-Light.otf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src:url('../fonts/HelveticaNeue-Bold.otf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'HelveticaItalic';
  src:url('../fonts/HelveticaNeue-Italic.otf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'HelveticaMedium';
  src:url('../fonts/HelveticaNeue-Medium.otf');
  font-weight:normal;
  font-style:normal;
}

// Icons

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-9j7baf');
	src:url('../fonts/icomoon.eot?#iefix-9j7baf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-9j7baf') format('woff'),
		url('../fonts/icomoon.ttf?-9j7baf') format('truetype'),
		url('../fonts/icomoon.svg?-9j7baf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-linkedin2:before {
	content: "\eac9";
}
