
// General styling
body {
	-webkit-font-smoothing: antialiased;
	&.menu-open {
		height: 100%;
		overflow: hidden;
	}
}

.wrapper {
	position: relative;
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;

	@include respond-to(mob) {
		width: 80%;
	}

	@include respond-to(mob-l) {
		width: 85%;
	}
}

.hide {
	display: none;
}

.show {
	display: block;
}

.hidden{
	opacity:0;
}
.visible{
	opacity:1;
}

// Mid container
.mid-container {
	height: 600px;
	background: #fff;
	padding-top: 150px;

	@include respond-to(tabl) {
		height: 440px;
		padding-top: 0;
	}

	@include respond-to(mob) {
		height: auto;
		padding-top: 60px;
	}

	.wrapper {
		@include respond-to(mob) {
			display: block;
		}
	}

	h3 {
		color: #293744;
		font-size: 35px;
		text-transform: uppercase;
		line-height: 50px;
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: 700;

		@include respond-to(tabl) {
			font-size: 27px;
			line-height: 45px;
		}

		@include respond-to(mob-p) {
			font-size: 29px;
			line-height: 40px;
		}

		@include respond-to(mob-vertical) {
			font-size: 29px;
			line-height: 40px;
		}
	}
}

.mid-container-l {
	display: inline-block;
	vertical-align: top;
	width: 55%;
	text-align: center;

	@include respond-to(tabl) {
		width: 45%;
		float: left;
		padding-top: 50px;
	}

	@include respond-to(mob) {
		width: 100%;
		display: table-footer-group;
	}

	img {
		display: none;
		max-width: 560px;
		margin-top: -30px;
		width: 100%;
		height: auto;

		@include respond-to(mob-p) {
			width: 70%;
			margin: 0 auto;
		}

		&.active {
			display: block;
		}
	}
}

.homepage .jumbo-hp {
	background: url('../img/hero-desktop.png') no-repeat top 140px right -100px;
	background-size: 55%;
	height: 770px;

	&:before {
		content: '';
		position: absolute;
		top: 130px;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(255, 255, 255);
		background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
		background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
		background: -o-linear-gradient(0deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
		background: -ms-linear-gradient(0deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
		background: linear-gradient(90deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
		z-index: -1;

		@include respond-to(tabl) {
			top: 60px;
		}
	}

	@include respond-to(tabl) {
		background-size: 60%;
		height: 550px;
	}

	@include respond-to(mob) {
		background-position: bottom center;
	}

	@include respond-to(mob-l) {
		background-size: 95%;
		height: 770px;
		max-height: 770px;
	}

	.btn {
		margin-bottom: 180px;
	}

	.jumbo-block {
		h2 {
			font-weight: 700;
		}

		.to-anim-1, .to-anim-2, .to-anim-3 {
			opacity: 0;

			@include respond-to(mob-tabl) {
				opacity: 1;
			}
		}

		.to-anim-3 {
			//osition: absolute;
			//@include animation(heartbeat 1200ms ease 1s 2 normal);
			//transform-origin: 50% 50%;
		}

	}
}

.tab-heading {
	font-size: 0;
	position: relative;
	padding: 0;
	width: 480px;
	user-select: none;
	margin: 25px 0 55px;

	@include respond-to(tabl) {
		margin: 10px 0 40px;
	}

	@include respond-to(mob-p) {
		width: 100%;
	}

	@include respond-to(mob-vertical) {
		width: 100%;
	}

	li {
		display: inline-block;
		width: 160px;
		height: 60px;
		font-size: 16px;
		text-align: left;
		line-height: 60px;
		color: #989EA3;
		border-bottom: 1px solid #e9e9e9;
		text-transform: uppercase;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		font-family: 'HelveticaMedium', Arial, sans-serif;
		transition: color .3s ease-in-out;
		-webkit-transition: color .3s ease-in-out;

		@include respond-to(tabl) {
			height: 55px;
			line-height: 55px;
			font-size: 11px;
			width: 100px;
		}

		@include respond-to(mob-p) {
			width: 33%;
		}

		@include respond-to(mob-vertical) {
			width: 33%;
			font-size: 11px;
		}

		&.active {
			color: #2B3541;
		}
	}

	.slider {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 110px;
		height: 2px;
		background: #d66b59;
		transition: all 0.5s ease-in-out;

		@include respond-to(tabl) {
			width: 80px;
		}

		@include respond-to(mob-p) {
			width: 115px;
		}

		@include respond-to(mob-vertical) {
			width: 82px;
		}
	}
}

.tab-content {
	p {
		line-height: 30px;
		margin-bottom: 20px;
		font-family: 'Proxima', Arial, sans-serif;
		font-size: 16px;
		color: #656774;

		@include respond-to(tabl) {
			line-height: 25px;
			font-size: 14px;
			margin-bottom: 5px;
		}

		@include respond-to(mob-p) {
			width: 90%;
		}

		@include respond-to(mob-vertical) {
			line-height: 25px;
			font-size: 15px;
		}
	}
}

.mid-container-r {
	display: inline-block;
	vertical-align: top;
	width: 44%;

	@include respond-to(tabl) {
		float: right;
		margin-right: 50px;
		overflow: hidden;
	}

	@include respond-to(mob) {
		display: table-header-group;
		width: 100%;
	}

	h3 {
		@include respond-to(mob) {
			display: block;
			width: 90%;
		}
	}
}

.easy-container {
	position: relative;
	height: 775px;
	background: url('../img/video-background.jpg') no-repeat top left;
	text-align: center;
	color: #fff;
	overflow: hidden;

	@include respond-to(desk) {
		background-attachment: fixed;
		background-size: cover;
	}

	@include respond-to(tabl) {
		height: 615px;
	}

	@include respond-to(mob) {
		height: 675px;
	}

	@include respond-to(mob-vertical) {
		height: 590px;
	}

	video {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -414px;

		@include respond-to(mob) {
			display: none;
			width: 600px !important;
			bottom: -55px;
			margin-left: -300px;
		}

		@media screen and (max-width: 620px) {
			width: 500px !important;
			bottom: -80px;
			margin-left: -250px;
		}

		@include respond-to(mob-vertical) {
			width: 320px !important;
			bottom: -130px;
			margin-left: -160px;
		}
	}


	.wrapper {
		height: 100%;
	}

	h2 {
		padding-top: 70px;
		font-size: 32px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 25px;
		font-family: 'Helvetica', Arial, sans-serif;
		letter-spacing: 1px;

		@include respond-to(tabl) {
			padding-top: 50px;
			font-size: 27px;
			margin-bottom: 5px;
		}

		@include respond-to(mob) {
			width: 60%;
			text-align: left;
			line-height: 50px;
		}

		@include respond-to(mob-l) {
			width: 100%;
		}
	}

	p {
		display: block;
		width: 680px;
		margin: 0 auto;
		font-size: 17px;
		line-height: 35px;
		font-family: 'Proxima', Arial, sans-serif;

		@include respond-to(tabl) {
			width: 80%;
			font-size: 14px;
			line-height: 25px;
		}

		@include respond-to(mob) {
			width: 100%;
			line-height: 30px;
			text-align: left;
		}

		@include respond-to(mob-vertical) {
			line-height: 25px;
		}
	}

	img {
		display: block;
		position: absolute;
		bottom: -60px;
		width: 853px;
		left: 50%;
		margin-left: -430px;

		@include respond-to(tabl) {
			width: 850px;
			margin-left: -428px;
		}

		@media screen and (max-width: 768px) {
			width: 800px;
			margin-left: -400px;
			max-width: none;
			bottom: -30px;
		}

		@include respond-to(mob) {
			width: 540px;
			margin-left: -270px;
		}

		@include respond-to(mob-l) {
			width: 300px;
			margin-left: -150px;
		}

		@include respond-to(mob-vertical) {
			width: 350px;
			margin-left: -170px;
		}
	}
}

.features-container {
	text-align: center;
	background: #f9f9f9;

	h2 {
		padding-top: 100px;
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 15px;
		color: #2c3844;
		font-family: 'Helvetica', Arial, sans-serif;
		font-weight: 700;

		@include respond-to(tabl) {
			padding-top: 120px;
			font-size: 23px;
		}

		@include respond-to(mob) {
			font-size: 27px;
			text-align: left;
		}
	}

	span {
		vertical-align: middle;
	}


	.wrapper > p {
		display: block;
		width: 680px;
		margin: 0 auto;
		font-size: 17px;
		line-height: 35px;
		color: #626b74;
		font-family: 'Proxima', Arial, sans-serif;

		@include respond-to(tabl) {
			font-size: 14px;
			line-height: 28px;
		}

		@include respond-to(mob) {
			width: 100%;
			text-align: left;
		}
	}

	ul {
		width: 90%;
		margin: 0 auto;
		text-align: left;
		margin-top: 120px;

		@include respond-to(tabl) {
			width: 85%;
		}

		@include respond-to(mob) {
			margin-top: 50px;
			width: 100%;
		}

		h3 {
			font-size: 25px;
			line-height: 40px;
			font-family: 'Proxima', Arial, sans-serif;

			@include respond-to(mob-l) {
				text-align: left;
				font-size: 20px;
			}
		}

		p {
			margin-top: 20px;
			line-height: 30px;
			font-family: 'Proxima', Arial, sans-serif;
			color: #656774;

			@include respond-to(mob-l) {
				margin-bottom: 20px;
			}
		}

		li {
			display: inline-block;
			vertical-align: top;
			width: 31.5%;
			margin-right: 2%;
			height: 250px;

			@include respond-to(tabl) {
				width: 48.5%;
				margin-right: 1%;
			}

			@include respond-to(mob) {
				width: 100%;
				height: auto;
				min-height: 200px;
			}


			&.no-mr {
				margin-right: 0;

				@include respond-to(tabl) {
					margin-right: 1%;
				}
			}
		}
	}
}

.revenue-container {
	height: 700px;
	padding-top: 170px;
	box-sizing: border-box;
	text-align: center;

	@include respond-to(tabl) {
		padding-top: 0;
		height: 820px;
	}

	@include respond-to(mob) {
		height: 800px;
		padding-top: 50px;
	}

	@include respond-to(mob-l) {
		height: 1050px;
	}
}

.revenue-l {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-left: 100px;
	box-sizing: border-box;

	@include respond-to(mob-tabl) {
		width: 100%;
		padding-left: 0;
		text-align: center;
	}

	h3 {
		display: block;
		padding-top: 15px;
		font-size: 34px;
		font-weight: 700;
		line-height: 50px;
		font-family: 'Helvetica', Arial, sans-serif;
		width: 440px;
		text-transform: uppercase;
		text-align: left;

		@include respond-to(mob-tabl) {
			font-size: 24px;
			width: 100%;
			padding-left: 0;
			text-align: center;
		}

		@include respond-to(mob-l) {
			font-size: 22px;
			line-height: 35px;
			text-align: left;
			padding-left: 20px;
			width: 90%;
		}
	}

	p {
		margin: 30px 0 30px;
		color: #757e85;
		font-size: 21px;
		font-family: 'Proxima', Arial, sans-serif;
		text-align: left;

		@include respond-to(tabl) {
			font-size: 14px;
			text-align: center;
		}

		@include respond-to(mob) {
			text-align: center;
		}

		@include respond-to(mob-l) {
			font-size: 19px;
			text-align: left;
			padding-left: 20px;
		}
	}
}

.revenue-r {
	display: inline-block;
	width: 48%;
	vertical-align: top;

	@include respond-to(mob-tabl) {
		width: 70%;
	}

	@include respond-to(mob-l) {
		width: 90%;
	}

	a {
		display: block;
		text-align: center;
		margin-top: 35px;
		font-size: 13px;
		color: #9d9d9f;

		@include respond-to(tabl) {
			margin-top: -85px;
		}
	}
}

.increase-block {
	height: 390px;
	padding: 65px 60px;
	width: 100%;
	border: 1px solid #e8e8e8;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	box-sizing: border-box;

	@include respond-to(tabl) {
		box-shadow: none;
		border: none;
	}

	@include respond-to(mob) {
		height: 280px;
		padding: 30px;
	}

	@include respond-to(mob-l) {
		height: auto;
	}
}

.increase-left,
.increase-right {
	display: inline-block;
	vertical-align: top;
	width: 47%;
	background: #f6f6f8;

	@include respond-to(mob-l) {
		width: 100%;
	}
}

.increase-left {
	float: left;
	padding: 50px 15px 0;
	box-sizing: border-box;

	@include respond-to(mob) {
		padding-left: 20px;
	}

	@include respond-to(mob-l) {
		float: none;
	}
}

.increase-right {
	float: right;
	padding: 50px 13px 0 30px;
	box-sizing: border-box;

	@include respond-to(mob) {
		padding-left: 20px;
	}

	@include respond-to(mob-l) {
		float: none;
		margin-top: 30px;
	}
}

.text-big {
	font-size: 35px;
}

.increase-sub-top {
	padding-bottom: 30px;
	border-bottom: 1px solid #f2f2f4;

	@include respond-to(mob) {
		padding-bottom: 0;
	}

	.text-big {
		display: inline-block;
		padding-right: 10px;
		vertical-align: middle;
		font-size: 45px;
		font-family: 'HelveticaBold', Arial, sans-serif;
		color: #2B3541;
	}
	span + span {
		display: inline-block;
		width: 90px;
		vertical-align: middle;
		text-align: left;
		color: #555E67;
	}
}

.increase-sub-bottom {
	padding: 30px 15px 30px 0;
	text-align: center;

	.text-big {
		font-size: 32px;
		vertical-align: middle;
		color: $green;
		font-family: 'HelveticaBold', Arial, sans-serif;
		transition: color .5s ease;
		-webkit-transition: color .5s ease;

		&.green {
			color: $green;
		}
	}

	i {
		padding-right: 5px;
	}
}

.team-container {
	height: 280px;
	background: url('../img/background-team.jpg') no-repeat top center;
	text-align: center;
	color: #fff;

	@include respond-to(desk) {
		background-size: cover;
		background-attachment: fixed;

	};

	h2 {
		padding-top: 90px;
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 25px;
		font-family: 'HelveticaLight', Arial, sans-serif;
		letter-spacing: 1px;

		@include respond-to(tabl) {
			padding-top: 70px;
			font-size: 27px;
			margin-bottom: 30px;
		}

		@include respond-to(mob) {
			padding-top: 50px;
			text-align: left;
			padding-left: 60px;
			margin-bottom: 10px;
		}

		@include respond-to(mob-l) {
			width: 90%;
			margin: 0 auto;
			padding-top: 20px;
			padding-left: 0;
			font-size: 30px;
		}
	}

	p {
		display: block;
		width: 680px;
		margin: 0 auto;
		font-size: 17px;
		line-height: 35px;
		font-family: 'Proxima', Arial, sans-serif;

		@include respond-to(tabl) {
			font-size: 13px;
		}

		@include respond-to(mob) {
			padding-left: 60px;
			margin: 0;
			text-align: left;
			width: 80%;
		}

		@include respond-to(mob-l) {
			padding: 0;
			text-align: left;
			width: 90%;
			margin: 0 auto;
			line-height: 20px;
			margin-top: 20px;
		}
	}
}

.persons-container {
	padding-top: 80px;

	ul {
		position: relative;
		text-align: center;
		margin-bottom: 70px;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 300px;
			position: absolute;
			left: 0;
			bottom: 95px;
			@include gradient-white;

			@include respond-to(tabl) {
				display: none;
			}

			@include respond-to(mob) {
				display: none;
			}
		}
	}

	li {
		display: inline-block;
		width: 400px;
		min-height: 450px;
		padding: 20px 0;
		position: relative;
		text-align: center;
		cursor: pointer;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		background: rgba(255,255,255,0);

		@include respond-to(tabl) {
			max-width: 450px;
			width: 49%;
		}

		@include respond-to(mob-l) {
			width: 270px;
		}

		&:hover {
			background: rgba(255,255,255,1);
			box-shadow: 0 0 10px 0 rgba(0,0,0,.2);

			img {
				transform: scale(1.1);
			}
		}
	}

	.name {
		margin: 25px 0 10px;
		font-size: 21px;
		font-family: 'Proxima', Arial, sans-serif;
		color: $coral-dark;
	}

	.position {
		font-family: 'Proxima', Arial, sans-serif;
	}

	img {
		width: 320px;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
	}
}


.footer {
	padding-top: 45px;
	margin-top: 50px;
	border-top: 1px solid #eaeaea;
}

.social {
	text-align: center;
	li {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin: 0 3px;
		background: $coral-dark;
		vertical-align: middle;
		border-radius: 50%;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
	a {
		display: block;
		color: #fff;
		font-size: 18px;
		line-height: 30px;
	}
	.icon-facebook {
		font-size: 21px;
		text-align: center;
		text-indent: -3px;
		line-height: 26px;
	}
}

.copyright {
	text-align: center;
	display: block;
	font-size: 15px;
	margin-top: 25px;
	font-family: 'Helvetica', Arial, sans-serif;
	color: #a5a7a6;
}

.footer-links {
	margin: 15px 0 50px;
	text-align: center;
	li {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;

		& + li {
			border-left: 1px solid #a5a7a6;
		}
	}
	a {
		margin: 0 5px;
		padding: 0 0 2px;
		color: #a5a7a6;
		font-size: 16px;
		font-family: 'Helvetica', Arial, sans-serif;
	}
}

.team-about {
	.about {
		display: none;
		padding: 0 30px;
		font-size: 15px;
		line-height: 20px;
		margin-top: 20px;
		text-align: left;


		@include respond-to(mob) {
			display: block;
		}

		@include respond-to(mob-l) {
			padding: 0 10px;

		}
	}
}

.team-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -550px;
	margin-top: -260px;
	width: 1100px;
	height: 520px;
	z-index: 102;
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	overflow: auto;

	@include respond-to(tabl) {
		width: 700px;
		margin-left: -350px;
	}

	img {
		position: absolute;
		bottom: 0;
		left: 0;

		@include respond-to(tabl) {
			max-width: 50%;
		}
	}

	.team-about {
		margin: 120px 0 0 40%;

		@include respond-to(tabl) {
			margin: 60px 0 0 50%;
		}
	}

	.name {
		font-size: 32px;
		color: $coral-dark;
		margin-bottom: 20px;
		font-family: 'Proxima', Arial, sans-serif;

		@include respond-to(tabl) {
			font-size: 24px;
		}
	}

	.position {
		font-size: 19px;
		margin-bottom: 40px;
		font-family: 'Proxima', Arial, sans-serif;

		@include respond-to(tabl) {
			font-size: 15px;
			margin-bottom: 25px;
		}
	}

	.description {
		font-size: 20px;
		line-height: 25px;
		padding-right: 100px;
		color: #555e67;
		font-family: 'Proxima', Arial, sans-serif;

		@include respond-to(tabl) {
			font-size: 15px;
		}
	}

	 .ico-linkedin {
		 display: inline-block;
		 margin-left: 30px;
	 }
}



#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.5);
	z-index: 101;
}

// Slider
#slider {
	width: 450px;
	height: 35px;
	background: #f6f6f8;
	border: 0;
	margin-top: 140px;

	@include respond-to(tabl) {
		margin: 140px auto 0;
	}

	@include respond-to(mob) {
		margin: 140px auto 50px;
	}

	@include respond-to(mob-vertical) {
		width: 290px;
	}
}

.slider-tooltip {
	position: absolute;
	z-index: 1020;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	display: block;
	font-size: 22px;
	visibility: visible;
	margin-top: -2px;
	bottom:120%;
	background: #fff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	color: #75767a !important;
	outline: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #d9dadf;
	border: 1px solid #fff;
	border-radius: 5px;
	height: 53px;
	margin-top: -5px;
	width: 60px;
	cursor: pointer;

	&:hover {
		border: 1px solid #7ec042;
	}
}



// ARB?
// Main containers










.contact-page {
	padding-top: 115px;
	background: #f7f7f7;
	fieldset {
		border: 0;
	}
	input {
		display: block;
		margin-bottom: 15px;
		width: 585px;
		height: 75px;
		padding-left: 50px;
		font-size: 21px;
		font-family: 'HelveticaLight', Arial, sans-serif;
		border: 1px solid #efeff1;
		&:-ms-input-placeholder {
			color: #A9A9A9;
		}
	}
	select {
		display: block;
		width: 100%;
		height: 75px;
		padding-left: 50px;
		margin-bottom: 15px;
		font-size: 21px;
		font-family: 'HelveticaLight', Arial, sans-serif;
		border: 1px solid #efeff1;
		color: #A9A9A9;
		box-sizing: border-box;
	}
	textarea {
		width: 532px;
		padding: 25px 50px 0 50px;
		font-size: 21px;
		font-family: 'HelveticaLight', Arial, sans-serif;
		border: 1px solid #efeff1;
		resize: none;
		&:-ms-input-placeholder {
			color: #A9A9A9;
		}
	}
	.btn-icon {
		left: 50%;
		margin: 75px 0 115px -75px;
		border: 0;
		box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
	}
}

#contactUsForm {
	width: 640px;
	margin: 0 auto;
	label.error {
		display: block;
		color: red;
		width: 260px;
		margin: 0 auto 10px;
		text-align: center;
	}
}

.contactus-map {
	position: relative;
	height: 800px;
	background: url('../img/contactus-map.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;

	.contactus-address {
		width: 250px;
		height: 250px;
		background: #7f2676;
		position: absolute;
		border-radius: 50%;
		top: 275px;
		left: 50%;
		color: #fff;
		margin-left: -125px;
		font-family: 'HelveticaLight';
		font-size: 22px;
	}
	.contact-top {
		width: 140px;
		margin: 45px auto 0;
		padding-bottom: 20px;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	.contact-bottom {
		width: 140px;
		margin: 0 auto;
		padding-top: 15px;
		text-align: center;
	}
}

// Success popup
#successPopup {
	display: none;
	position: fixed;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	top: 200px;
	background: #fff;
	border-radius: 5px;
	padding: 40px 20px;
	font-family: 'Helvetica';
	font-size: 20px;
	text-align: center;
	z-index: 100;
}

// News pagination
.news-pagination a {
	color: #646968;
	font-family: 'Helvetica', Arial, sans-serif;
	line-height: 25px;
}
.next-post {
	float: right;
}
.wp-user-avatar {
	display: inline-block;
	max-width: 40px;
	margin-right: 5px;
	border-radius: 50%;
	vertical-align: middle;
}

