$break-desktop-wide: 1367px !default;
$break-tablet: 1024px !default;
$break-mobile: 767px !default;
$mobile-land: 520px !default;
$mobile-port: 480px !default;

@mixin respond-to($media) {
	@if $media == desk-wide {
		@media only screen and (min-width: $break-desktop-wide) {
			@content;
		}
	} @else if $media == desk {
		@media only screen and (min-width: $break-tablet + 1) and (max-width: $break-desktop-wide - 1) {
			@content;
		}
	} @else if $media == tabl {
		@media only screen and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
			@content;
		}
	} @else if $media == mob {
		@media only screen and (max-width: $break-mobile) {
			@content;
		}
	} @else if $media == mob-vertical {
		@media only screen and (max-width: $mobile-port) {
			@content;
		}
	} @else if $media == mob-l {
		@media only screen and (max-width: $mobile-land) {
			@content;
		}
	} @else if $media == mob-tabl {
		@media only screen and (max-width: $break-tablet) {
			@content;
		}
	}
}

@mixin respond-from($media) {
	@if $media == desk-wide {
		@media only screen and (min-width: $break-desktop-wide) {
			@content;
		}
	} @else if $media == desk {
		@media only screen and (min-width: $break-tablet + 1) {
			@content;
		}
	} @else if $media == tabl {
		@media only screen and (min-width: $break-tablet) {
			@content;
		}
	} @else if $media == mob {
		@media only screen and (min-width: $break-mobile) {
			@content;
		}
	} @else if $media == tabl-desk {
		@media only screen and (min-width: $break-mobile) {
			@content;
		}
	}
}

@mixin gradient-white {
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 48%, rgb(235, 236, 236) 100%);
	background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 48%, rgb(235, 236, 236) 100%);
	background: -o-linear-gradient(90deg, rgb(255, 255, 255) 48%, rgb(235, 236, 236) 100%);
	background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 48%, rgb(235, 236, 236) 100%);
	background: linear-gradient(180deg, rgb(255, 255, 255) 48%, rgb(235, 236, 236) 100%);
}

/*
    Example usage:
    @include animation(10s, 5s, changecolour)

    div {
	    animation-name: example;
	    animation-duration: 5s;
	    animation-timing-function: linear;
	    animation-delay: 2s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	}

 */


@mixin animation($animation...) {
	-o-animation: $animation;
	-moz-animation: $animation;
	-webkit-animation: $animation;
	animation: $animation;
}