// Reset styles
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

input,
select {
  outline: none;
}

img {
  max-width: 100%;
}