// Header
.header {
	position: fixed;
	height: 130px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,.5);
	transition: all ease-in-out .5s;
	-webkit-transition: all ease-in-out .5s;
	z-index: 102;

	@include respond-to(mob) {
		height: 60px;

		.logo {
			max-width: 150px;
			margin: 10px 0 0 40px;
		}

		.header-navigation {
			display: none;
			margin-top: 61px;
			box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
			background: #fff;

			li {
				float: none;
				padding: 0;
			}

			a {
				line-height: 50px !important;
				padding: 0 35px;
			}
		}

		#header-menu {
			display: block;
			top: 5px;
		}
	}

	&.fullcolor {
		transform: translateZ(0);
		background-color: rgba(255,255,255,1);
		height: 90px;
		box-shadow: 0 4px 7px -2px rgba(0,0,0,.15);

		.logo {
			margin-top: 15px;

			img {
				max-width: 80%;
				margin-top: 5px;
			}
		}

		.header-navigation a {
			line-height: 90px;
			font-size: 18px;
		}

		@include respond-to(tabl) {
			height: 60px;

			.logo {
				margin-top: 10px;
			}

			.header-navigation a {
				line-height: 65px;
			}
		}

		@include respond-to(mob) {
			height: 60px;

			.logo {
				margin-top: 10px;
			}
		}

	}

	&.nofixed {
		position: absolute;
		top: 0;
		left: 0;
	}

	@include respond-to(tabl) {
		height: 60px;

		.logo {
			margin: 10px 0 0 0;

			img {
				max-width: 150px;
			}
		}

		.header-navigation {
			margin-right: 20px;

			a {
				line-height: 65px;
				font-size: 18px;
			}
		}
	}

	@include respond-to(mob) {
		.logo {
			margin-left: 0;
		}
	}
}

#header-menu {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	padding: 10px 20px;
	background: url("../img/icons.png") no-repeat -14px -360px;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	z-index: 99;
}

.logo {
	margin-top: 30px;
	float: left;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;

	img {
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
	}
}

.jumbo-hp {
	position: relative;
	height: 100%;
	max-height: 710px;
	background: #fff;
	overflow: hidden;

	@include respond-to(mob) {
		height: 800px;
		max-height: 800px;
	}
	h2, h3 {
		display: block;
		width: 40%;
		max-width: 550px;
		color: #2a3642;
		font-family: 'Helvetica', Arial, sans-serif;

		@include respond-to(tabl) {
			width: 50%;
		}

		@include respond-to(mob) {
			width: 100%;
		}
	}

	h2 {
		padding-top: 210px;
		font-size: 36px;
		line-height: 50px;
		text-transform: uppercase;
		font-weight: 700;

		@include respond-to(mob-tabl) {
			padding-top: 120px;
			line-height: 40px;
			font-size: 29px;
		}
	}

	h3 {
		max-width: 430px;
		width: 45%;
		margin: 80px 0 65px;
		font-size: 21px;
		line-height: 27px;
		color: #6a6f75;
		font-family: 'Proxima', Arial, sans-serif;

		@include respond-to(mob-tabl) {
			font-size: 15px;
			margin-top: 50px;
		}

		@include respond-to(mob) {
			width: 100%;
		}
	}

	>.wrapper {
		position: static;
	}

	.wrapper {
		@include respond-to(mob) {
			width: 95%;
		}
	}

	.btn-wrapper {
		display: inline-block;
	}
}

.header-navigation {
	float: right;

	@include respond-to(mob) {
		position: absolute;
		right: -20px;
	}

	li {
		float: left;
		padding: 0 15px;
	}

	.active a {
		color: #eda67c;
	}

	a {
		display: block;
		color: #666b71;
		font-size: 18px;
		font-family: 'Proxima', Arial, sans-serif;
		line-height: 130px;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		&:hover {
			color: #eda67c;
		}
	}
}

.hero-image {
	position: absolute;
	right: -100px;
	bottom: 0;
}

.careers .jumbo-hp {
	background-color: #f7f6f2;
}