@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}


@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

$heartbeat-rotation: rotate(45deg);

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content }
	@-moz-keyframes #{$name} { @content }
	@-o-keyframes #{$name} { @content }
	@keyframes #{$name} { @content }
}

@mixin experimental($property, $value, $moz: true, $webkit: true, $o: true, $ms: true, $khtml: true, $official: true) {
	@if $webkit   { -webkit-#{$property} : $value; }
	@if $khtml    {  -khtml-#{$property} : $value; }
	@if $moz      {    -moz-#{$property} : $value; }
	@if $ms       {     -ms-#{$property} : $value; }
	@if $o        {      -o-#{$property} : $value; }
	@if $official {         #{$property} : $value; }
}

@mixin animation($value) {
	@include experimental(animation, $value);
}

@include keyframes(heartbeat) {
	0%  { @include transform(scale(1));   }
	14% { @include transform(scale(1.015)); }
	28% { @include transform(scale(1));   }
	42% { @include transform(scale(1.015)); }
	70% { @include transform(scale(1));   }
}

