// Buttons
.btn {
	display: inline-block;
	position: relative;
	width: 230px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	border-radius: 25px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'HelveticaLight', Arial, sans-serif;
	font-size: 16px;

	@include respond-to(tabl) {
		font-size: 13px;
		width: 170px;
		height: 50px;
		line-height: 50px;
	}
}

.btn-icon {
	position: relative;
	display: block;
	width: 230px;
	height: 100px;
	margin-left: 100px;
	line-height: 100px;
	text-align: center;
	color: #000;
	background: #fff;
	font-size: 24px;
	font-family: 'Helvetica', Arial, sans-serif;
	&:before {
		position: absolute;
		content: '';
		width: 100px;
		height: 100px;
		background: $orange;
		left: -100px;
		top: 0;
		box-shadow: 2px 5px 3px -2px rgba(0, 0, 0, 0.2);
	}
}

.btn-readmore:before {
	background: $orange url('../img/icons.png') no-repeat 7px 25px;
}

.btn-contact {
	&:before {
		background: $orange url('../img/icons.png') no-repeat 3px -55px;
	}
	&.loading:before {
		background: $orange url('../css/img/loader.gif') no-repeat center;
	}
}

.btn-coral {
	background: rgb(242, 127, 98);
	background: -moz-linear-gradient(0deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);
	background: -webkit-linear-gradient(0deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);
	background: -o-linear-gradient(0deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);
	background: -ms-linear-gradient(0deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);
	background: linear-gradient(90deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	&:hover {
		background: rgb(242, 127, 98);
		background: -moz-linear-gradient(0deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);
		background: -webkit-linear-gradient(0deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);
		background: -o-linear-gradient(0deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);
		background: -ms-linear-gradient(0deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);
		background: linear-gradient(90deg, rgb(242, 127, 98) 30%, rgb(213, 107, 81) 100%);;
	}
}