.i1, .i3, .i6, .i8, .i7, .i10, .i11, .i12, .i13,
.i4, .i9, .i2, .i5, .i-arrow, .ico-linkedin, .ico-flag
{ display: inline-block; background: url('../img/icons-opt.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; padding-right: 20px; vertical-align: middle; }

.i1 { background-position: -20px -0px; width: 52px; height: 40px; }
.i3 { background-position: -20px -60px; width: 37px; height: 27px; }
.i6 { background-position: -20px -107px; width: 37px; height: 35px; }
.i8 { background-position: -20px -162px; width: 37px; height: 37px; }
.i7 { background-position: -20px -219px; width: 35px; height: 34px; }
.i4 { background-position: -20px -273px; width: 30px; height: 31px; }
.i9 { background-position: -20px -324px; width: 29px; height: 36px; }
.i2 { background-position: -20px -380px; width: 27px; height: 38px; }
.i5 { background-position: -20px -438px; width: 25px; height: 34px; }
.i-arrow { background-position: -24px -517px; width: 18px; height: 17px;}
.ico-linkedin { background-position: -19px -567px; width: 36px; height: 36px;}
.i10 {background-position: -23px -631px; width: 35px; height: 43px;}
.i11 {
	background-position: -24px -719px;
	width: 34px;
	height: 31px;
}
.i12 {
	background-position: -26px -813px;
	width: 36px;
	height: 30px;
}

.i13 {
	background-position: -22px -892px;
	width: 45px;
	height: 58px;
}

.ico-flag {
	background-position: -20px -1026px;
	width: 27px;
	height: 24px;
	padding: 0 10px;
}