.careers {
	.jumbo-hp {
		background: url('../img/hero-careers.png') no-repeat bottom right 150px;
		height: 650px;

		&:before {
			content: '';
			position: absolute;
			top: 130px;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(255, 255, 255);
			background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
			background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
			background: -o-linear-gradient(0deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
			background: -ms-linear-gradient(0deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
			background: linear-gradient(90deg, rgb(255, 255, 255) 58%, rgb(246, 242, 239) 100%);
			z-index: -1;

			@include respond-to(tabl) {
				top: 60px;
			}
		}

		@include respond-to(tabl) {
			background-size: 35%;
			background-position: bottom right 100px;
			height: 500px;
		}

		@include respond-to(mob) {
			background-position: bottom right;
			background-size: 40%;
		}

		@include respond-to(mob-vertical) {
			height: 750px;
			background-position: bottom center;
			background-size: 55%;
		}
	}

	.job-details {
		display: none;

		@include respond-to(mob) {
			display: block;
		}
	}

	.job-description {
		display: block;
		@include respond-to(mob) {
			display: none;
		}
	}

	.tabs {
		width: 850px;
		margin-bottom: 150px;

		@include respond-to(tabl) {
			width: 700px;
			margin-top: 60px;
		}

		@include respond-to(mob) {
			width: 440px;
		}

		@include respond-to(mob-vertical) {
			width: 300px;
		}
	}

	.tab-heading {
		width: 100%;
		border-bottom: 1px solid #e9e9e9;

		li {
			width: 220px;
			border: none;

			&.tab-1,
			&.tab-2,
			&.tab-3 {
				@include respond-to(mob-vertical) {
					height: 40px;
					display: table-cell;
					vertical-align: middle;

				}
			}

			@include respond-to(mob) {
				width: 140px;
				font-size: 11px;
			}

			@include respond-to(mob-vertical) {
				width: 100px;
				line-height: 15px;
			}
		}

		.slider {
			width: 150px;

			@include respond-to(mob) {
				width: 120px;
			}

			@include respond-to(mob-vertical) {
				width: 90px;
			}
		}
	}

	.tab-container {

		& + .tab-container {
			margin-top: 55px;
		}

		h4 {
			margin-bottom: 30px;
			font-size: 19px;
		}

		p {
			font-size: 16px;
		}

		a {
			font-size: 17px;
			color: $orange;

			@include respond-to(mob) {
				display: none;
			}
		}


	}
}

.careers-container {
	.wrapper {
		@include respond-to(mob) {
			width: 95%;
		}
	}
}

.careers-popup {
	padding: 30px;
	box-sizing: border-box;
	line-height: 25px;

	@include respond-to(tabl) {
		margin-top: -230px;
	}
}