.contact {

	.jumbo-hp {
		height: 650px;
		background: url('../img/hero-contact.png') no-repeat bottom right;

		@include respond-to(tabl) {
			height: 520px;
			background-size: 50%;
		}

		@include respond-to(mob) {
			height: 750px;
			background-size: 50%;
			background-position: bottom center;
		}

		@include respond-to(mob-vertical) {
			background-size: 75%;

		}
	}

	.footer {
		margin-top: 0;
		border-top: 0;
	}
}

.contact-list {
	margin: 110px 0;

	@include respond-to(mob) {
		margin: 50px 0;
	}

	h3 {
		font-size: 22px;
		margin-bottom: 20px;

		@include respond-to(tabl) {
			font-size: 18px;
		}

		@include respond-to(mob) {
			font-size: 21px;
		}

		@include respond-to(mob-vertical) {
			font-size: 18px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}

  >	li {
	  display: inline-block;
	  width: 31%;
	  box-sizing: border-box;
		vertical-align: top;

	  & + li {
		  padding-left: 6%;
	  }

	  @include respond-to(tabl) {
		  width: 32%;
		  padding-left: 3%;
	  }

	  @include respond-to(mob) {
		  display: block;
		  width: 100%;
		  margin-bottom: 50px;
		  padding-left: 3%;
	  }

	  > a {
		  display: block;
		  margin-top: 38px;
			color: #2b3541;
		  font-size: 29px;

		  @include respond-to(tabl) {
			  font-size: 22px;
		  }

		  @include respond-to(mob) {
			  margin-top: 10px;
			  font-size: 25px;
		  }

		  @include respond-to(mob-vertical) {
			  font-size: 21px;
		  }

	  }
	}

	.social {
		text-align: left;

		li {
			width: 40px;
			height: 40px;
			text-align: center;

			@include respond-to(tabl) {
				width: 35px;
				height: 35px;
			}
		}

		a {
			line-height: 38px;

			@include respond-to(tabl) {
				line-height: 34px;
			}
		}
	}
}

.contact-map-container {
	background: #fcfcfc;
	text-align: center;
	padding-top: 110px;

	@include respond-to(tabl) {
		padding-top: 0;
	}

	h3 {
		font-size: 31px;
		margin-bottom: 40px;

		@include respond-to(mob-vertical) {
			font-size: 23px;
		}
	}

	> p {
		display: block;
		width: 55%;
		margin: 0 auto 110px;
		font-size: 17px;
		line-height: 30px;

		@include respond-to(mob-vertical) {
			width: 95%;
			font-size: 16px;
			line-height: 25px;
		}
	}
}

.contact-map {
	position: relative;
	background: #fcfcfc url('../img/contact-map.png') no-repeat top center;
	width: 1024px;
	height: 725px;
	background-size: 100%;
	margin: 0 auto;

	@include respond-to(tabl) {
		width: 760px;
		height: 505px;
	}

	@include respond-to(mob) {
		background: #fcfcfc;
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	.marker {
		position: absolute;
		background: url('../img/icons-opt.png') no-repeat -22px -892px;
		width: 45px;
		height: 58px;
		cursor: pointer;

		@include respond-to(mob) {
			display: inline-block;
			background: none;
			position: static;
			width: 49%;
			margin-bottom: 50px;
			min-width: 310px;
			height: auto;
			right: auto;
			left: auto;
		}
	}

	.marker-1 {
		right: 220px;
		top: 330px;

		@include respond-to(tabl) {
			right: 150px;
			top: 235px;
		}
	}

	.marker-2 {
		right: 230px;
		top: 280px;

		@include respond-to(tabl) {
			right: 170px;
			top: 184px;
		}
	}

	.marker-3 {
		right: 450px;
		top: 174px;

		@include respond-to(tabl) {
			right: 330px;
			top: 118px;
		}
	}

	.marker-4 {
		right: 200px;
		top: 245px;

		@include respond-to(tabl) {
			right: 140px;
			top: 157px;
		}
	}

	.marker-5 {
		right: 180px;
		top: 275px;

		@include respond-to(tabl) {
			right: 120px;
			top: 195px;
		}
	}
}

.marker-content {
	display: none;
	position: absolute;
	left: -370px;
	background: #fff;
	width: 230px;
	margin-left: 50px;
	z-index: 2;
	text-align: left;
	padding: 25px 40px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);

	@include respond-to(mob) {
		position: static;
		display: block !important;
		margin: 0 auto;
	}

	h5 {
		font-size: 21px;
		color: $coral-dark;
		font-weight: 700;
		margin-bottom: 15px;
	}

	p {
		font-size: 18px;
	}

	address {
		margin-top: 30px;
		font-style: normal;
		font-size: 18px;

		span {
			display: block;
			padding-bottom: 10px;
			font-size: 18px;
		}

		a {
			display: block;
			margin-bottom: 10px;
		}


	}

	a {
		color: #000;
	}
}