.news_list {

	.jumbo-hp {
		@include respond-to(mob) {
			height: auto;
		}
	}

	.tabs {
		max-width: 600px;
		margin: 0 auto;
	}

	.tab-heading {
		width: 100%;

		li {
			width: 50%;
			padding-bottom: 20px;
			font-size: 20px;

			@include respond-to(mob) {
				font-size: 15px;
			}

			&.slider {
				padding-bottom: 0;
				width: 30%;

				@include respond-to(mob) {
					width: 50%;
				}
			}
		}
	}

	.ico-flag {
		display: inline-block;
	}

	&.news_article {
		.article {
			max-width: 730px;
			margin: 0 auto;
			width: 100%;
		}

		.article-title {
			font-size: 38px;
			text-align: center;

			@include respond-to(mob) {
				font-size: 30px;
			}
		}

		.article-details {
			text-align: center;

			> span, i {
				vertical-align: top;
			}
		}

		.read-time,
		.day_post {
			font-size: 24px;

			@include respond-to(mob) {
				font-size: 20px;
			}
		}
	}
}

.news-list-container {
	margin-top: 150px;

	@include respond-to(mob) {
		margin-top: 100px;
	}
}

.article-title {
	font-size: 23px;
	color: #222;
	display: block;
	margin-bottom: 20px;

	@include respond-to(mob) {
		font-size: 20px;
	}
}

.read-time,
.day_post {
	color: #a3a7aa;
	font-size: 12px;
}

.article-preview {
	color: #7a7e81;
	line-height: 30px;

	p {
		display: block;
		width: 90%;
		margin: 0 auto 20px;
	}
}

.article {
	margin-bottom: 60px;

	img {
		display: block;
		margin: 20px 0;
		max-width: 100%;
	}

	.read-more {
		display: inline-block;
		margin-top: 15px;
		color: #cd8f80;
	}
}
